node_modules/
dist/
.env
.env.*
!.env.example
npm-debug.log*
.DS_Store

# IDE и редакторы
.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
.vs/
*.swp
*.swo
*~
.project
.classpath
.settings/
.factorypath
